<div class="p-5 flex justify-content-center align-items-center">
  <p-card header="{{ user.firstName }} {{ user.lastName }}" subheader="{{ user.email  }}" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <div>
      <div *ngIf="!editMode">
        <p>{{ user.username }}</p>
        <p class="mt-2">{{ 'AUTH.SIGN_UP.VEGETARIAN' | translate }}: {{ vegetarian }}</p>
        <div class="mt-3">
          <button 
            pButton 
            pRipple 
            type="button" 
            label="Edit Profile" 
            class="p-button-raised p-button-warning"
            (click)="editMode = !editMode"
          ></button>
        </div>
      </div>
      <div *ngIf="editMode">
        <form *ngIf="userDetailsForm" [formGroup]="userDetailsForm">
          <span class="p-float-label">
            <input
              id="float-input_username"
              type="text"
              pInputText
              name="username"
              [formControlName]="fieldNames.Username"
              class="w-full"
            >
            <label for="float-input_username">{{ 'AUTH.SIGN_UP.USERNAME' | translate }}</label>
          </span>
          <div class="field-checkbox mt-3">
            <p-checkbox [formControlName]="fieldNames.Vegetarian" [binary]="true" inputId="vegetarian">
            </p-checkbox>
            <label for="vegetarian">{{ 'AUTH.SIGN_UP.VEGETARIAN' | translate }}</label>
          </div>
          <div class="mt-4">
            <button 
              pButton 
              pRipple 
              type="button" 
              label="Cancel"  
              icon="pi pi-times"
              class="p-button-raised p-button-secondary"
              (click)="editMode = !editMode"
            ></button>
            <button 
              pButton 
              pRipple 
              type="button" 
              label="Save" 
              icon="pi pi-check"
              class="p-button-raised p-button-success ml-2"
              (click)="Save()"
              [disabled]="userDetailsForm.invalid"
            ></button>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
